*.md text working-tree-encoding=UTF-8 eol=lf
*.txt text working-tree-encoding=UTF-8 eol=lf
*.json text working-tree-encoding=UTF-8 eol=lf
*.yaml text working-tree-encoding=UTF-8 eol=lf
*.yml text working-tree-encoding=UTF-8 eol=lf
